*,
*::after,
*::before {
    box-sizing: border-box;
}

@font-face {
    font-family: 'balqis';
    src: url('../fonts/balqis.woff2') format('woff2'),
        url('../fonts/balqis.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RobotoCondensed-Regular';
    src: url('../fonts/RobotoCondensed-Regular.woff2') format('woff2'),
        url('../fonts/RobotoCondensed-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RobotoCondensed-Light';
    src: url('../fonts/RobotoCondensed-Light.woff2') format('woff2'),
        url('../fonts/RobotoCondensed-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RobotoCondensed-LightItalic';
    src: url('../fonts/RobotoCondensed-LightItalic.woff2') format('woff2'),
        url('../fonts/RobotoCondensed-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

body {
    color: #000000;
    font-family: 'RobotoCondensed-Light';
    font-size: 18px;
    line-height: 21px;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.page-section {
    margin: 200px auto;
    max-width: 1920px;
}

.title {
    font-family: 'balqis';
    font-size: 96px;
    line-height: 128px;
    color: #E2AB3F;
    font-weight: 300;
    margin-bottom: 100px;
}

.title span {
    font-family: 'RobotoCondensed-LightItalic';
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    display: block;
    margin-top: -27px;
}

.header {
    background-image: url('../images/header_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: bottom center;
}

.header__top {
    display: flex;
    justify-content: space-between;
    padding-top: 72px;
    font-size: 24px;
    line-height: 28px;
    font-family: 'RobotoCondensed-Regular';
}

.menu__list-item {
    display: inline-block;
}

.menu__list-item+.menu__list-item {
    margin-left: 52px;
}

.menu__list-link:hover {
    text-decoration: underline;
}

.header__phone {
    padding-left: 40px;
    position: relative;
}

.header__phone::before {
    content: '';
    position: absolute;
    background-image: url('../images/phone-img.svg');
    height: 30px;
    width: 30px;
    left: 0;
}

.header__title {
    padding-top: 152px;
    text-align: center;
    font-size: 250px;
    line-height: 334px;
    font-family: 'balqis';
    font-weight: 300;
}

.header__title span {
    display: block;
    font-size: 56px;
    line-height: 66px;
    font-family: 'RobotoCondensed-LightItalic';
    text-align: right;
    margin-top: -66px;
    margin-right: 90px;
}

.fairy-tail__title span {
    margin-left: 177px;
}

.fairy-tail__slider {
    width: 50%;
}

.slick-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: none;
}

.slick-prev {
    left: 0;
}

.slick-next {
    right: 0;
}

.fairy-tail__inner {
    position: relative;
}

.fairy-tail__container,
.our-trip__container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.fairy-tail__body {
    width: 50%;
    margin-left: auto;
    padding-left: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.fairy-tail__body-title {
    font-family: 'RobotoCondensed-Regular';
}

.fairy-tail__text {
    padding: 10px 0;
}

.our-trip__slider {
    width: 50%;
    margin-left: auto;
}

.our-trip__inner {
    position: relative;
}

.our-trip__title span {
    margin-left: 240px;
}

.our-trip__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: start;
}

.our-trip__list {
    margin: 5px 0;
    font-size: 24px;
    line-height: 28px;
}

.our-trip__list li:first-child {
    font-family: 'RobotoCondensed-Regular';
    margin-bottom: 20px;
}

.our-trip__btn {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    border: 1px solid #E2AB3F;
    padding: 11px 53px;
}

.our-trip__content {
    width: 50%;
    padding-right: 55px;
}

.hotel__title span {
    margin-left: 120px;
}

.hotel__inner {
    display: flex;
}

.hotel__images {
    margin-right: 100px;
}

.hotel__text {
    margin-bottom: 20px;
}

.hotel__gallery {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hotel__gallery a {
    margin-top: 50px;
}

.price__inner {
    display: flex;
}

.price__on-title,
.price__off-title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 50px;
    font-family: 'RobotoCondensed-Regular';
}

.price__on {
    width: 530px;
    margin-right: 70px;
}

.price__list-item {
    margin-bottom: 20px;
}

.price {
    background-image: url(../images/price-bg.png);
    background-repeat: no-repeat;
    background-position: center right 5%;
}

.contacts__inner {
    display: flex;
    justify-content: space-between;
}

.contacts__content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contacts__date,
.contacts__price {
    font-family: 'balqis';
    font-size: 96px;
    color: #E2AB3F;
    line-height: 100px;
}

.contacts__price {
    margin-left: 110px;
}

.contacts__date {
    margin-bottom: 20px;
}

.contacts__date span,
.contacts__price span {
    line-height: 28px;
    display: block;
    font-size: 24px;
    color: #000;
    font-family: 'RobotoCondensed-LightItalic';
    margin-left: 200px;
    margin-top: -10px;
}

.contacts__form {
    max-width: 383px;
    margin: 0 auto;
}

.contacts__form-title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 50px;
    font-family: 'RobotoCondensed-Regular';
}

.contacts__form-input {
    display: block;
    width: 100%;
    padding: 14px 31px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 21px;
    border: 1px solid #E2AB3F;
    font-family: 'RobotoCondensed-Light';
}

.contacts__form-input::placeholder {
    color: #000;
}

.contacts__form-btn {
    cursor: pointer;
    font-size: 24px;
    line-height: 28px;
    padding: 11px 45px;
    text-transform: uppercase;
    border: 1px solid #E2AB3F;
    background-color: transparent;
    font-family: 'RobotoCondensed-Light';
}

.footer {
    background-image: url('../images/footer-bg.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    padding-top: 96px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__text {
    font-size: 86px;
    line-height: 115px;
    font-family: 'balqis';
}

.footer__contacts {
    width: 356px;
    height: 527px;
    text-align: center;
    background-image: url('../images/footer-info-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.footer__contacts-title {
    font-size: 86px;
    color: #E2AB3F;
    line-height: 115px;
    font-family: 'balqis';
    margin-bottom: 50px;
    padding-top: 50px;
}

.footer__phone,
.footer__email {
    display: inline-block;
    padding-left: 40px;
    position: relative;
}

.footer__phone {
    margin-bottom: 20px;
}

.footer__phone::before,
.footer__email::before {
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    left: 0;
    top: -5px;
}

.footer__phone::before {
    background-image: url('../images/footer-phone-icon.svg');
}

.footer__email::before {
    background-image: url('../images/footer-email-icon.svg');
}

.footer__social {
    margin-top: 38px;
}

.footer__social-link {
    display: inline-block;
    margin: 0 7px;
}

.footer__social-link svg {
    fill: #E2AB3F;
}

.footer__social-link svg:hover {
    fill: rgba(255, 96, 96, 0.849);
}


/* adaptive */
@media (max-width: 1240px) {
    .header__title {
        padding-top: 120px;
        font-size: 180px;
        line-height: 220px;
    }

    .header__title span {
        font-size: 50px;
        margin-top: -50px;
        margin-right: 110px;
    }

    .hotel__inner {
        display: inherit;
    }

    .hotel__images {
        margin: 0 0 10px 0;
    }

    .hotel__gallery {
        justify-content: space-around;
    }

    .hotel__gallery a {
        margin: 0 10px 10px 0;
    }

    .price {
        background-image: url('../images/price-bg-small.png');
    }

    .footer__inner {
        justify-content: space-around;
    }

    .footer {
        padding-top: 45px;
    }
}

@media (max-width: 1080px) {
    .contacts__images {
        height: 110vh;
        object-fit: cover;
    }

    .contacts__form-title {
        margin-bottom: 30px;
    }

    .contacts__info {
        margin-right: 15px;
    }

    .footer__inner {
        flex-wrap: wrap;
    }
}

@media (max-width: 991px) {
    .page-section {
        margin: 100px 0;
    }

    .fairy-tail__container,
    .our-trip__container {
        position: static;
    }

    .fairy-tail__slider,
    .our-trip__slider,
    .our-trip__title,
    .slick-slide img {
        width: 100%;
    }

    .fairy-tail__body {
        width: 100%;
        padding-left: 0;
    }

    .our-trip__content {
        width: 100%;
        padding-right: 0;
    }

    .our-trip__body {
        flex-direction: inherit;
        flex-wrap: wrap;
    }

    .our-trip__list {
        width: 50%;
        margin: 10px 0;
    }

    .our-trip__btn {
        margin: 25px 0;
    }

    .price {
        background-position: center right 1%;
    }

    .contacts__images {
        height: 85vh;
    }

    .footer__contacts {
        height: 465px;
        width: 317px;
    }

    .footer__contacts-title {
        font-size: 76px;
        line-height: 105px;
        margin-bottom: 20px;
        padding-top: 40px;
    }

    .footer__text {
        font-size: 60px;
        line-height: 70px;
    }
}

@media (max-width: 840px) {
    .header__title {
        font-size: 120px;
        line-height: 150px;
    }

    .header__title span {
        font-size: 30px;
        margin-top: -44px;
    }

    .header__top {
        font-size: 20px;
        line-height: 24px;
    }

    .header__phone::before {
        width: 25px;
        height: 25px;
        background-size: cover;
    }

    .title {
        margin-bottom: 50px;
    }

    .our-trip__list,
    .our-trip__btn {
        font-size: 20px;
        line-height: 24px;
    }

    .price__inner {
        display: block;
    }

    .price {
        background-position: center right 5%;
    }

    .price__on,
    .price__off {
        font-size: 20px;
        line-height: 24px;
    }

    .price__on {
        margin-bottom: 35px;
    }

    .price__on-title,
    .price__off-title {
        font-size: 22px;
        line-height: 24px;
        margin-bottom: 25px;
    }

    .contacts__inner {
        display: inherit;
        text-align: center;
    }

    .contacts__content {
        text-align: center;
    }

    .contacts__info {
        margin-bottom: 35px;
    }

    .contacts__form {
        margin: 0 auto 25px;
    }

    .contacts__form-btn {
        display: block;
        margin: 0 auto;
    }
}

@media (max-width: 600px) {
    .header__top {
        justify-content: center;
        flex-wrap: wrap;
    }

    .menu {
        width: 100%;
        text-align: center;
        margin: 0 0 25px;
    }

    .header__title {
        font-size: 80px;
        line-height: 120px;
    }

    .header__title span {
        font-size: 22px;
        margin-top: -46px;
        margin-right: 15px;
    }

    .fairy-tail__item img {
        height: 50vh;
        object-fit: cover;
    }

    .page-section {
        margin: 50px 0;
    }

    .title {
        margin-bottom: 25px;
        font-size: 60px;
        line-height: 110px;
    }

    .fairy-tail__title span {
        margin-left: 110px;
    }

    .our-trip__title span {
        margin-left: 150px;
    }

    .our-trip__list,
    .our-trip__btn {
        line-height: 22px;
    }

    .our-trip__slider-item img {
        height: 65vh;
        object-fit: cover;
    }

    .our-trip__list {
        width: 100%;
    }

    .hotel__images {
        height: 75vh;
        object-fit: cover;
    }

    .price {
        background-position: bottom right 5%;
    }

    .price__on,
    .price__off {
        line-height: 22px;
        width: 100%;
    }

    .price__on-title,
    .price__off-title {
        font-size: 20px;
        line-height: 22px;
    }

    .price__list-item {
        margin-bottom: 15px;
    }

    .contacts__inner {
        text-align: left;
    }

    .contacts__content {
        text-align: left;
    }

    .contacts__form {
        margin: 0 0 25px;
    }

    .contacts__date,
    .contacts__price,
    .footer__contacts-title {
        font-size: 60px;
        line-height: 70px;
    }

    .contacts__date {
        margin-bottom: 10px;
    }

    .contacts__date span,
    .contacts__price span {
        font-size: 24px;
        line-height: 28px;
        margin-left: 75px;
    }

    .contacts__form-title {
        font-size: 20px;
        line-height: 22px;
    }

    .contacts__form-input {
        padding: 10px 31px;
    }

    .contacts__form-btn {
        padding: 8px 25px;
    }

    .footer {
        padding-top: 30px;
    }

    .footer__contacts-title {
        padding-top: 60px;
    }

    .footer__text {
        font-size: 40px;
        line-height: 50px;
    }
}

@media (max-width: 425px) {
    .contacts__images {
        height: 68vh;
    }

    .contacts__form {
        max-width: 320px;
    }

    .contacts__form-btn,
    .contacts__form-input {
        font-size: 20px;
        line-height: 22px;
        padding: 6px 15px;
    }

    .contacts__form-title {
        font-size: 18px;
        line-height: 20px;
    }

    .footer {
        width: 100%;
    }

    .footer__inner {
        justify-content: center;
    }

    .footer__text {
        width: 100%;
        text-align: center;
        margin-top: 35px;
    }
}

@media (max-width: 370px) {
    .menu__list-item+.menu__list-item {
        margin-left: 18px;
    }

    .header__title {
        font-size: 60px;
        line-height: 100px;
    }

    .header__title span {
        font-size: 18px;
        margin-right: 0px;
    }

    .header__top {
        padding-top: 50px;
    }

    .title,
    .contacts__date,
    .contacts__price {
        font-size: 50px;
    }

    .title span,
    .contacts__date span,
    .contacts__price span {
        font-size: 20px;
    }

    .fairy-tail__title span {
        margin-left: 90px;
    }

    .hotel__images {
        height: 65vh;
    }

    .hotel__text {
        line-height: 20px;
    }

    .price__on,
    .price__off,
    .price__on-title,
    .price__off-title {
        line-height: 20px;
        font-size: 18px;
    }

    .price__on-title,
    .price__off-title {
        margin-bottom: 20px;
    }

    .contacts__date,
    .contacts__price {
        line-height: 60px;
    }

    .contacts__date span,
    .contacts__price span {
        line-height: 22px;
        margin-left: 61px;
    }

    .footer__text {
        font-size: 30px;
        line-height: 40px;
        margin-top: 10px;
    }
}